body, html {
    height: 100%;
}

body {
    background-image: url("img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }